body{
    background-color: yellow;
    animation-name: shubham;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
h1{
    color: red;
    background-color: cornsilk;
}
#show_sketch{
    float: right;
}
canvas{
    border: 5px solid white;
    border-radius: 20px;
    animation-name:example ;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}
@keyframes example{
    from{box-shadow: 1px 1px 38px blue;}
    to{box-shadow: 1px 1px 38px rgb(0, 255, 85);}
}

@keyframes shubham{
        from{background-color: rgb(52, 6, 240);}
        to{background-color: rgb(14, 243, 10);}
}